services:
  redis:
    image: 'redis:latest'
    ports:
      - 6379:6379
    networks:
      - processing-network
    
    # Deux REDIS, si besoin est
    deploy:
      mode: replicated
      replicas: 2
      restart_policy:
        condition: on-failure
        delay: 15
        max_attempts: 3
        window: 60s

      constraints:
        - node.role == worker
  
  postgresql:
    image: 'bitnami/postgresql:latest'
    ports:
      - 5432:5432
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postgres
    networks:
      - processing-network

    # Pareil pour PostgreSQL
    deploy:
      mode: replicated
      replicas: 2
      restart_policy:
        condition: on-failure
        delay: 30
        max_attempt: 3
        window: 60s
      constraints:
        - node.role == worker
  
  votebox:
    image: 'localhost:5000/voting-votebox:1.0.0'
    ports:
      - 8080:8080
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - REDIS_DB=0
      - REDIS_TIMEOUT=5
    networks:
      - vote-network
      - processing-network
    deploy:
      mode: replicated
      replicas: 2
      restart_policy:
        condition: always
        delay: 15
        max_attempt: 3
        window: 30s
      constraints:
        - node.role == worker

  worker:
    image: 'localhost:5000/voting-worker:1.0.0'
    ports:
      - 80:80
      - 443:443
    environment:
      - PG_HOST=postgresql
      - PG_PORT=5432
      - PG_USER=postgres
      - PG_PASSWORD=postgres
      - PG_DB=postgres
      - REDIS_HOST=redis
    networks:
      - processing-network
    deploy:
      mode: replicated
      replicas: 1
      restart_policy:
        condition: on-failure
        delay: 60
        max_attempts: 6
        window: 60s
      constraints:
        - node.role == worker

  dashboard:
    image: 'localhost:5000/voting-dashboard:1.0.0'
    ports:
      - "8888:8888"
    environment:
      - POSTGRES_HOST=postgresql
    networks:
      - vote-network
      - processing-network
    deploy:
      mode: replicated
      replicas: 2
      restart_policy:
        condition: on-failure
        delay: 30
        max_attempts: 2
        window: 60s
      constraints:
        - node.role == worker

networks:
  vote-network:
    driver: overlay
  processing-network:
    driver: overlay
