services:
  redis:
    image: 'redis:latest'
    ports:
      - 6379:6379
    networks:
      - processing-network
    
    # Deux REDIS, si besoin est
    deploy:
      replicas: 2
      restart_policy:
        condition: any
  
  postgresql:
    image: 'bitnami/postgresql:latest'
    ports:
      - 5432:5432
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postgres
    networks:
      - processing-network

    # Pareil pour PostgreSQL
    deploy:
      replicas: 2
      restart_policy:
        condition: any
  
  vote:
    image: 'camille/voting-vote:1.0.0'
    ports:
      - 8080:8080
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - REDIS_DB=0
      - REDIS_TIMEOUT=5
    networks:
      - vote-network
      - processing-network
    deploy:
      replicas: 2
      restart_policy:
        condition: any

  worker:
    image: 'camille/voting-worker:1.0.0'
    ports:
      - 80:80
      - 443:443
    environment:
      - PG_HOST=postgresql
      - PG_PORT=5432
      - PG_USER=postgres
      - PG_PASSWORD=postgres
      - PG_DB=postgres
      - REDIS_HOST=redis
    networks:
      - processing-network

  result:
    image: 'camille/voting-result:1.0.0'
    ports:
      - "8888:8888"
    environment:
      - POSTGRES_HOST=postgresql
    networks:
      - vote-network
      - processing-network
    deploy:
      replicas: 2
      restart_policy:
        condition: any

networks:
  vote-network:
    driver: overlay
  processing-network:
    driver: overlay
