services:
  redis:
    image: 'redis:latest'
    ports:
      - 6379:6379
    networks:
      - processing-network
  
  postgresql:
    image: 'bitnami/postgresql:latest'
    ports:
      - 5432:5432
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postgres
    networks:
      - processing-network
  
  votebox:
    build:
      context: .
      dockerfile: DOCKERFILE-Votebox
    ports:
      - 8080:8080
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - REDIS_DB=0
      - REDIS_TIMEOUT=5
    depends_on:
      - redis
      - postgresql
    networks:
      - vote-network
      - processing-network

  worker:
    build:
      context: .
      dockerfile: DOCKERFILE-Dotnet
    ports:
      - 80:80
      - 443:443
    environment:
      - PG_HOST=postgresql
      - PG_PORT=5432
      - PG_USER=postgres
      - PG_PASSWORD=postgres
      - PG_DB=postgres
      - REDIS_HOST=redis
    networks:
      - processing-network
    depends_on:
      - postgresql

  dashboard:
    build:
      context: .
      dockerfile: DOCKERFILE-Statistiques
    ports:
      - "8888:8888"
    environment:
      - POSTGRES_HOST=postgresql
    networks:
      - vote-network
      - processing-network
    depends_on:
      - postgresql

networks:
  vote-network:
    driver: overlay
  processing-network:
    driver: overlay
